{% extends "base.html" %}

{% block metaKeywordsContent %}优酷,优酷精选,视频,视频分享,在线视频{% endblock %}
{% block metaDescriptionContent %}每日发布优酷网的精选内容。{% endblock %}

{% block menuMainPage %}<li class="current_page_item"><a href="http://www.google.cn">主页</a></li>{% endblock %}

{% block content %}
    <!-- start content -->
    <div id="content">
        {% for video in video_list %}
            <div class="post">
                <div class="title">
                    <h2><a href="/video/{{video.vid}}/">{{ video.title }}</a></h2>
                    <p><small>Posted on {{ video.post_date }} by <a href="#">{{ video.posted_by }}</a></small></p>
                </div>
                <div class="entry">                
                   <embed src="{{ video.flash_url }}" quality="high" width="480" height="400" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash"></embed>
                </div>
                <p class="links"> <a href="{{ video.url }}" class="more">Read More</a> <a href="{{ video.url }}" class="comments">No Comments</a> </p>
            </div>
        {% endfor %}
    </div>
    <!-- end content -->
{% endblock %}

{% block page_index %}
<div id="page_index">
    <span class="step-links">
        {% if page.has_previous %}
	    <a href="/page/{{ page.previous_page_number }}">上一页</a>
	{% endif %}
        <span class="current">
	    <p>{{ page.number }}</p>
	</span>
	{% if page.has_next %}
	    <a href="/page/{{ page.next_page_number }}">下一页</a>
	{% endif %}
    </span>
</div>
{% endblock %}
